.contactcontainer{
display: flex;
flex-direction: column;
font-family: 'Times New Roman', Times, serif;

box-sizing: border-box;
}
.upper{
    height: 24rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}
.contacthead{
    font-size: 4rem;
    font-weight: bolder;
    position: relative;
    width:fit-content;
    left: 6rem;

    
}
.hinfo{
    
    position: relative;
    font-size: 1.25rem;
    left: 6rem;
    width: 40%;
    opacity: 0.5;
}
.first{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:  rgba(0, 0, 0, 0.5);
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 60%;
    margin: 5rem 16rem 0rem 5rem ;
    row-gap: 1.15rem;
}
.username{
    font-size: 1.5rem;
    font-weight: bolder;
}
#name{
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.second{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:  rgba(0, 0, 0, 0.5);
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 60%;
    margin: 5rem 16rem 0rem 5rem ;
    row-gap: 1.15rem;
}
.usermail{
    font-size: 1.5rem;
    font-weight: bolder;
}
#mail{
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.third{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-color:  rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
    padding-left: 2rem;
    width: 60%;
    margin: 5rem 16rem 7rem 5rem ;
    row-gap: 1.15rem;

}
.usermsg{
    font-size: 1.5rem;
    font-weight: bolder;
}
#msg{
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    
}
.extrainfo{
    width: 100%;

}
.submitb{
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding: 12px;
    width: 160px;
    font-weight: bolder;
    margin-left: 10%;
    margin-bottom: 8%;
    
}